# Python
__pycache__/
*.pyc
venv/

# Secrets
.env
GoogleService-Info.plist
config.xcconfig
CalorieCounter/GoogleService-Info.plist
CalorieCounter/config.xcconfig

# Xcode / iOS build
DerivedData/
build/
xcuserdata/
*.xcuserstate

# Ha valaha lesz CocoaPods:
Pods/